{
	"trailingComma": "none",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"singleAttributePerLine": true,

	"plugins": ["@ianvs/prettier-plugin-sort-imports"],

	"importOrder": [
		"^react(.*)$",
		"<THIRD_PARTY_MODULES>",
		"",
		"^@/components/(.*)$",
		"",
		"^@/hooks/(.*)$",
		"",
		"^@/constants/(.*)$",
		"",
		"^@/data/(.*)$",
		"",
		"^@/types/(.*)$",
		"^@/interfaces/(.*)$",
		"",
		"^@/services/(.*)$",
		"",
		"^@/providers/(.*)$",
		"",
		"^@/lib/(.*)$",
		"^@/utils/(.*)$",
		"^@/api/(.*)$",
		"^@/stores/(.*)$",
		"^@/assets/(.*)$",
		"^@/config/(.*)$",
		"^@/context/(.*)$",
		"",
		"^../(.*)",
		"^./(.*)",
		"\\.(css|scss)$"
	]
}
